.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #d2b48c;
}

.navi {
    color: #d2b48c; 
}

.titles {
    font-size: 45px;
    font-family: 'Montserrat';
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 50px;
    color: #000000;
  }

.letter {
    text-shadow: 2px 2px 0px #007bff;
    text-transform: uppercase;
    font-weight: 900;
}

.letters {
    font-size: 17px;
}
